<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.etnow.etnowlegends">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EtnowLegends">
        <activity android:name=".legends_adventure.stupa6.Stupa6Activity"></activity>
        <activity android:name=".legends_adventure.stupa5.Stupa5Activity" />
        <activity android:name=".legends_adventure.stupa4.Stupa4Activity" />
        <activity android:name=".legends_adventure.stupa3.Stupa3Activity" />
        <activity android:name=".legends_adventure.stupa2.Stupa2Activity" />
        <activity android:name=".legends_adventure.stupa1.Stupa1Activity" />
        <activity android:name=".drawer_content.SettingActivity" />
        <activity android:name=".materi.segitiga.SG3Activity" />
        <activity android:name=".materi.segitiga.SG2Activity" />
        <activity android:name=".materi.persegi_panjang.PP3Activity" />
        <activity android:name=".materi.persegi_panjang.PP2Activity" />
        <activity android:name=".materi.segitiga.SG1Activity" />
        <activity android:name=".materi.MateriSegitigaActivity" />
        <activity android:name=".materi.MateriPersegiPanjangActivity" />
        <activity android:name=".materi.persegi_panjang.PPActivity" />
        <activity android:name=".materi.persegi.Persegi3Activity" />
        <activity android:name=".materi.persegi.Persegi2Activity" />
        <activity android:name=".materi.persegi.PersegiActivity" />
        <activity android:name=".legends_adventure.StupaActivity" />
        <activity android:name=".legends_adventure.LegendsAdventureDashboardActivity" />
        <activity android:name=".materi.MateriBangunDatarActivity" />
        <activity android:name=".materi.SubMateriActivity" />
        <activity android:name=".drawer_content.AboutActivity" />
        <activity android:name=".drawer_content.PetunjukUmumActivity" />
        <activity android:name=".drawer_content.KetentuanLayananActivity" />
        <activity android:name=".CompetencyActivity" />
        <activity android:name=".TempleHistoryActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".IdentityActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>